.Tracks {
   width: 1000px;
   height: 527px;
   left: 720px;
   position: absolute;
   margin: auto;
   text-align: left;
   vertical-align: middle;
   background-color: darkgray;
   overflow-x: auto;
}
