.Loading {
   position: absolute;
   height: 50px;
   width: 200px;
   top: 380px;
   left: 44%;
   z-index: 50;
   background-color: white;
   color: rgb(122, 35, 50);
   padding-top: 35px;
   padding-bottom: 60px;
   border-radius: 10px;
   text-align: center;
   display: none;
}
