.UserOptions {
   width: 220px;
   margin-right: 10px;

   #user_welcome {
      width: 220px;
   }

   .project-n {
      position: relative;
      min-width: 100px;
      font-weight: 900;
      margin: auto;
      cursor: default;
   }

   #signup_now {
      margin-bottom: 0;
      text-align: center;
      width: 170px;
      cursor: pointer;
      //position: absolute;
   }

   #signup_now:hover {
      color: red;
   }

   #signup_reminder {
      display: none;
      left: 42%;
      top: 270px;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 300px;
      background-color: #b3b3b3;
      border-radius: 10px;
      z-index: 70;
   }

   .signup_reminder_text {
      margin-left: 20px;
      margin-top: 15px;
      margin-right: 0;
   }

   .x-button {
      font-size: 30px;
      position: absolute;
      left: 255px;
      top: 5px;
      color: rgb(134, 133, 133);
      cursor: pointer;
   }

   .x-button:hover {
      color: black;
   }

   #signup_reminder {
      display: none;
   }
   #signup_reminder input {
      width: 200px;
      height: 35px;
      align-self: center;
      margin-bottom: 10px;
      border-radius: 5px;
   }

   #signup_reminder button {
      width: 150px;
      align-self: center;
      margin-bottom: 30px;
      margin-top: 30px;
   }

   #signup_reminder label {
      margin-left: 20px;
   }

}
